<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

.orderbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #8dc2eb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8dc2eb;
	box-shadow:inset 0px 1px 0px 0px #8dc2eb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #78b4de), color-stop(1, #405b70));
	background:-moz-linear-gradient(top, #78b4de 5%, #405b70 100%);
	background:-webkit-linear-gradient(top, #78b4de 5%, #405b70 100%);
	background:-o-linear-gradient(top, #78b4de 5%, #405b70 100%);
	background:-ms-linear-gradient(top, #78b4de 5%, #405b70 100%);
	background:linear-gradient(to bottom, #78b4de 5%, #405b70 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78b4de', endColorstr='#405b70',GradientType=0);
	background-color:#78b4de;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #405b70;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:9px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2e6a99;
}
.orderbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #405b70), color-stop(1, #78b4de));
	background:-moz-linear-gradient(top, #405b70 5%, #78b4de 100%);
	background:-webkit-linear-gradient(top, #405b70 5%, #78b4de 100%);
	background:-o-linear-gradient(top, #405b70 5%, #78b4de 100%);
	background:-ms-linear-gradient(top, #405b70 5%, #78b4de 100%);
	background:linear-gradient(to bottom, #405b70 5%, #78b4de 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#405b70', endColorstr='#78b4de',GradientType=0);
	background-color:#405b70;
	text-decoration: none;
}
.orderbutton:active {
	position:relative;
	top:1px;
}

.sheetmusicdownload {
	-moz-box-shadow:inset 0px 1px 0px 0px #8deb98;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8deb98;
	box-shadow:inset 0px 1px 0px 0px #8deb98;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #78de84), color-stop(1, #405b70));
	background:-moz-linear-gradient(top, #78de84 5%, #407043 100%);
	background:-webkit-linear-gradient(top, #78de84 5%, #407043 100%);
	background:-o-linear-gradient(top, #78de84 5%, #407043 100%);
	background:-ms-linear-gradient(top, #78de84 5%, #407043 100%);
	background:linear-gradient(to bottom, #78de84 5%, #407043 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78b4de', endColorstr='#407043',GradientType=0);

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #407043;
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:9px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #47992e;
}

.sheetmusicdownload:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #405b70), color-stop(1, #78b4de));
	background:-moz-linear-gradient(top, #407043 5%, #78de84 100%);
	background:-webkit-linear-gradient(top, #407043 5%, #78de84 100%);
	background:-o-linear-gradient(top, #407043 5%, #78de84 100%);
	background:-ms-linear-gradient(top, #407043 5%, #78de84 100%);
	background:linear-gradient(to bottom, #407043 5%, #78de84 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#407043', endColorstr='#78de84',GradientType=0);
	background-color:#407043;
	text-decoration: none;
}

.sheetmusicdownload:active {
	position:relative;
	top:1px;
}

.longtestimonials {
  padding: 0;
  margin-bottom: 0px;
}

.longtestimonials .item {
  list-style-type: none;
  margin: 5px 50px 30px 15px;/* Looks good on desktop*/
  /*margin: 5px 0px 30px 0px;*/ /*Looks good on mobile*/
  background: #fff;
  padding-bottom: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.longtestimonials .item .longtestimonial {
  position: relative;
  padding: 20px;
}

.longtestimonials .item .longtestimonial:before,
.longtestimonials .item .longtestimonial:after {
  content: " ";
  display: table;
}

.longtestimonials .item .longtestimonial:after {
  clear: both;
}

.longtestimonials .item .longtestimonial:before,
.longtestimonials .item .longtestimonial:after {
  content: " ";
  display: table;
}

.longtestimonials .item .longtestimonial:after {
  clear: both;
}
.longtestimonials .item .longtestimonial .text {
  color: #999999;
  margin-bottom: 40px;
}

.longtestimonials .item .longtestimonial .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 50px;
}

.longtestimonials .item .longtestimonial .name-picture {
  float: left;
  width: 95%;
  text-align: left;
}

.longtestimonials .item .longtestimonial .name-picture h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.longtestimonials .item .longtestimonial .name-picture p {
  color: #999999;
  margin: 0;
  font-size: 12px;
}

.longtestimonials .item .longtestimonial .name-picture img {
  float: left;
  width: 60px;
  border-radius: 30px;
  margin-right: 10px;
}
