<div class="row">
    <div class="col-sm-6" style="margin-top: 30px;">
        <h3>DVD Bonus Features</h3>
        <ul>
            <li>Full Performance of the {{(.Get "concerto_name" )}}
                <ul>
                    <li>Trumpet parts edited by Rolf Smedvig</li>
                    <li>Includes both Eb and Bb solo trumpet parts with piano accompaniment</li>
                </ul>
            </li>
            <li>Piano Accompaniment Play-Along Track</li>
            <li>Rolf Smedvig’s Practice Philosophy</li>
            <li>Equipment Selection</li>
        </ul>
        <h3>Download Sheet Music</h3>
        <ul>
            <li><a href="/downloads/LFTL-Haydn_Concerto_-_Trumpet_in_B-flat.pdf">Solo Trumpet in B-flat</a></li>
            <li><a href="/downloads/LFTL-Haydn_Concerto_-_Trumpet_in_E-flat.pdf">Solo Trumpet in E-flat</a></li>
            <li><a href="/downloads/LFTL-Haydn_Concerto_-_Piano_Score.pdf">Piano Score</a></li>
            <li><a href="/downloads/LFTL-Haydn_Hummel_Concertos_-_Technical_Exercises.pdf">Technical Exercises</a></li>
        </ul>
    </div>
    <div class="col-sm-6 text-center" style="margin-top: 30px;">
        <img alt={{(.Get "screen_cap_alt" )}} src={{(.Get "screen_cap_file" )}} />
    </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-12 text-center"><h3>Additional Videos</h3></div>
</div>

<div class="row">
    <div class="col-sm-6 text-center center">
        <a href="https://www.youtube.com/watch?v={{(.Get "sample_lesson_chapter" )}}&hd=1" alt="Sample Lesson Chapter">Sample Lesson Chapter</a><br/>
        <iframe src="https://www.youtube.com/embed/{{(.Get "sample_lesson_chapter" )}}" allowfullscreen frameborder="0">
        </iframe>
    </div>
    <div class="col-sm-6 text-center center">
        <a href="https://www.youtube.com/watch?v={{(.Get "sample_piano_accompaniment" )}}&hd=1" alt="Sample Piano Accompaniment">Sample Piano Accompaniment</a><br/>
        <iframe src="https://www.youtube.com/embed/{{(.Get "sample_piano_accompaniment" )}}" allowfullscreen frameborder="0">
        </iframe>
    </div>
</div>
