<div class="row">
    <div class="col-sm-6 text-center center">
        <a href="/instruments/trumpet/haydn">
            <img src="/img/instruments/trumpet/Haydn-3d-angled-noreflection.png" border="0" /><br/>
            <strong>Rolf Smedvig</strong> teaching <strong>Haydn's Trumpet Concerto in E-flat Major.</strong>
        </a>
    </div>
    <div class="col-sm-6 text-center center">
        <a href="/instruments/trumpet/hummel">
            <img src="/img/instruments/trumpet/Hummel-3d-angled-noreflection.png" border="0" /><br/>
            <strong>Rolf Smedvig</strong> teaching <strong>Hummel's Trumpet Concerto.</strong>
        </a>
    </div>
</div>
