<div class="row">
    <div class="col-sm-6 text-center center">
        <a href="/instruments/violin/mendelssohn">
            <img src="/img/instruments/violin/Mendelssohn-3d-angled-noreflection.jpg" border="0" /><br/>
            <strong>Lara St. John</strong> teaching <strong>Mendelssohn's Violin Concerto in E Minor, Op. 64.</strong>
        </a>
    </div>
    <div class="col-sm-6 text-center center">
        <a href="/instruments/violin/bruch">
            <img src="/img/instruments/violin/Bruch-3d-angled-noreflection.jpg" border="0" /><br/>
            <strong>Lara St. John</strong> teaching <strong>Bruch's Violin Concerto No. 1 in G Minor, Op. 26.</strong>
        </a>
    </div>
</div>
